server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/task_db
    username: postgres
    password: 1215
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

    properties:
      hibernate:
        format_sql: true